<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsRsr2kxD9xNNsK5FogSJ6NcM5kC10d9A</string>
	<key>GCM_SENDER_ID</key>
	<string>963564486620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogapp</string>
	<key>PROJECT_ID</key>
	<string>test-blog-602a0</string>
	<key>STORAGE_BUCKET</key>
	<string>test-blog-602a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963564486620:ios:c87322fb7d3ad55fab9919</string>
</dict>
</plist>